<div class="modal fade" id="AdminNewUser" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<%= fa_icon("times-circle")%>
				</button>
				<h4 class="modal-title custom_align" id="Heading">Add New User</h4>
			</div>
			<%= form_for(:users, url: admin_users_path) do |f| %>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Email:</label>
					<input type="email" name="users[email]" class="form-control" />
				</div>
				<div class="form-group col-lg-6">
					<label for="">Password:</label>
					<input type="password" name="users[password]" class="form-control" />
				</div>
				<div class="form-group col-lg-6">
					<label for="">Password Confirm:</label>
					<input type="password" name="users[password_confirmation]" class="form-control" />
				</div>
				<div class="form-group col-lg-6">
					<label for="">Full Name:</label>
					<input type="text" name="users[fullname]" class="form-control" />
				</div>
				<div class="form-group col-lg-6">
					<label for="">Gender:</label>
					<select class="form-control" name="users[gender]">
						<option value="true">Male</option>
						<option value="false">Female</option>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<%= f.label "Day of Birth" %>
					<div class="input-append date" id="datepicker-new-admin-user" data-date="" data-date-format="dd-mm-yyyy">
						<input class="form-control" name="users[birthdate]" size="16" type="text" data-bind="" readonly="readonly" />
						<span class="add-on" style="position: absolute;padding: 5px;top: 30px;right: 15px;"><%= fa_icon "calendar" %></span>
					</div>
					<style type="text/css">
						.dropdown-menu {
							z-index: 9999;
						}
					</style>
					<script type="text/javascript">
						$("#datepicker-new-admin-user").datepicker();
					</script>
				</div>
				<div class="form-group col-lg-6">
					<label for="">Phone:</label>
					<input type="text" name="users[phone]" class="form-control" />
				</div>
				<div class="form-group">
					<label for="">Address:</label>
					<textarea name="users[address]" class="form-control"></textarea>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="modal-footer ">
				<button type="submit" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Processing..." class="btn btn-warning btn-lg" style="width: 100%;">
					<%= fa_icon("plus-circle") %> Add New
				</button>
			</div>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
