<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag(@product.image.url, size: "300x300")%>
			<div class="clearfix"></div>
			<span class="pull-right"> 
				<%= link_to "#" do %>
				<%= fa_icon("thumbs-o-up 2x")%>
				<% end %> 
			</span>
			<span class=""> 
				<%= link_to "#" do %>
				<%= fa_icon("thumbs-o-down 2x")%>
				<% end %> 
			</span>
		</div>
		<div class="col-md-8">
			<p style="font-size: 30px;">
				<%= @product.name %>
			</p>
			<dl>
				<%= @product.description %>
			</dl>
			<dl style="margin-bottom: 10px">
				<% if @product.stock > 0 %>
				<span class="label label-success" style="font-size: 1em">Available</span>
				<% else %>
				<span class="label label-danger" style="font-size: 1em">Unavailable</span>
				<% end %>
				<span style="color: #BF0000;font-size: 1.4em;vertical-align: middle;"><%= number_to_currency @product.price %></span>
				<span>
					<input value="4" type="number" class="rating" readonly="true">
				</span>
			</dl>
			<div class="form-group col-lg-3" style="padding: 0">
				<input type="number" class="form-control" min="1" value="1" max="50" />
			</div>
			<div class="clearfix"></div>
			<button type="button" class="btn btn-primary">
				Add To Cart
			</button>
			<button type="button" data-toggle= "modal" data-target ="#AddProductWishList" class="btn btn-primary">
				Add To Wishlist
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> Comments </h3>
			<blockquote>
				<h6>Lorem ipsum dolor sit amet</h6>
				<p>
					<%= fa_icon("comments-o")%>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
				<input value="4" type="number" class="rating" readonly="true">
				<small> <%= fa_icon("user")%> Someone famous <cite>Source Title</cite> </small>
			</blockquote>
			<blockquote>
				<h6>Lorem ipsum dolor sit amet</h6>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
				<small>Someone famous <cite>Source Title</cite> </small>
			</blockquote>
			<% if user_signed_in? %>
			<div class="form-group col-lg-4">
				<label for="">Title:</label>
				<input type="text" class="form-control" />
			</div>
			<div class="form-group col-lg-10">
				<label for="">Message:</label>
				<%= text_area :message,{}, class: "form-control" %>
			</div>
			<div class="form-group col-lg-4">
				<%= button_tag "Add Comment", class: "btn btn-primary" %>
			</div>
			<% else %>
			<p>
				You have login to write comment 
			</p>
			<% end %>
		</div>
	</div>
</div>
<%= @product.created_at.strftime('%F') %>
<%= render 'shared/addWishlist' %>
<script type="text/javascript">
	$(".rating").rating({
		size : "xs",
		showClear : false,
		showCaption : false
	}); 
</script>
<style type="text/css">
	.rating-xs {
		font-size: 1em;
	}
</style>